Checkout.Cart.RestApi/bin/Debug/netcoreapp1.1/appsettings.json
Checkout.Cart.RestApi/bin/Debug/netcoreapp1.1/Checkout.Basket.RestApi.deps.json
Checkout.Cart.RestApi/bin/Debug/netcoreapp1.1/Checkout.Basket.RestApi.dll
Checkout.Cart.RestApi/bin/Debug/netcoreapp1.1/Checkout.Basket.RestApi.pdb
Checkout.Cart.RestApi/bin/Debug/netcoreapp1.1/Checkout.Basket.RestApi.runtimeconfig.dev.json
Checkout.Cart.RestApi/bin/Debug/netcoreapp1.1/Checkout.Basket.RestApi.runtimeconfig.json
Checkout.Cart.RestApi/bin/Debug/netcoreapp1.1/Checkout.Cart.RestApi.deps.json
Checkout.Cart.RestApi/bin/Debug/netcoreapp1.1/Checkout.Cart.RestApi.dll
Checkout.Cart.RestApi/bin/Debug/netcoreapp1.1/Checkout.Cart.RestApi.pdb
Checkout.Cart.RestApi/bin/Debug/netcoreapp1.1/Checkout.Cart.RestApi.runtimeconfig.dev.json
Checkout.Cart.RestApi/bin/Debug/netcoreapp1.1/Checkout.Cart.RestApi.runtimeconfig.json
Checkout.Cart.RestApi/bin/Debug/netcoreapp1.1/appsettings.json
Checkout.Cart.RestApi/bin/Debug/netcoreapp1.1/Checkout.Basket.RestApi.deps.json
Checkout.Cart.RestApi/bin/Debug/netcoreapp1.1/Checkout.Basket.RestApi.dll
Checkout.Cart.RestApi/bin/Debug/netcoreapp1.1/Checkout.Basket.RestApi.pdb
Checkout.Cart.RestApi/bin/Debug/netcoreapp1.1/Checkout.Basket.RestApi.runtimeconfig.dev.json
Checkout.Cart.RestApi/bin/Debug/netcoreapp1.1/Checkout.Basket.RestApi.runtimeconfig.json
Checkout.Cart.RestApi/obj/Debug/netcoreapp1.1/Checkout.Basket.RestApi.dll
Checkout.Cart.RestApi/obj/Debug/netcoreapp1.1/Checkout.Basket.RestApi.pdb
Checkout.Cart.RestApi/obj/Debug/netcoreapp1.1/Checkout.Cart.RestApi.AssemblyInfo.cs
Checkout.Cart.RestApi/obj/Debug/netcoreapp1.1/Checkout.Cart.RestApi.csproj.FileListAbsolute.txt
Checkout.Cart.RestApi/obj/Debug/netcoreapp1.1/Checkout.Cart.RestApi.dll
Checkout.Cart.RestApi/obj/Debug/netcoreapp1.1/Checkout.Cart.RestApi.pdb
Checkout.Cart.RestApi/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
.vs/Checkout.Cart/v15/.suo
Checkout.Cart.RestApi/obj/Checkout.Cart.RestApi.csproj.nuget.g.props
Checkout.Cart.RestApi/obj/Checkout.Cart.RestApi.csproj.nuget.g.targets
Checkout.Cart.RestApi/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Checkout.Cart.RestApi/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Checkout.Cart.RestApi/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Checkout.Cart.RestApi/obj/project.assets.json
Checkout.Cart.Tests/bin/Debug/netcoreapp1.1/appsettings.json
Checkout.Cart.Tests/bin/Debug/netcoreapp1.1/Checkout.Cart.RestApi.dll
Checkout.Cart.Tests/bin/Debug/netcoreapp1.1/Checkout.Cart.RestApi.pdb
Checkout.Cart.Tests/bin/Debug/netcoreapp1.1/Checkout.Cart.Tests.deps.json
Checkout.Cart.Tests/bin/Debug/netcoreapp1.1/Checkout.Cart.Tests.dll
Checkout.Cart.Tests/bin/Debug/netcoreapp1.1/Checkout.Cart.Tests.pdb
Checkout.Cart.Tests/bin/Debug/netcoreapp1.1/Checkout.Cart.Tests.runtimeconfig.dev.json
Checkout.Cart.Tests/bin/Debug/netcoreapp1.1/Checkout.Cart.Tests.runtimeconfig.json
Checkout.Cart.Tests/bin/Debug/netcoreapp1.1/xunit.runner.reporters.netstandard15.dll
Checkout.Cart.Tests/bin/Debug/netcoreapp1.1/xunit.runner.utility.netstandard15.dll
Checkout.Cart.Tests/bin/Debug/netcoreapp1.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
Checkout.Cart.Tests/obj/Checkout.Cart.Tests.csproj.nuget.g.props
Checkout.Cart.Tests/obj/Checkout.Cart.Tests.csproj.nuget.g.targets
Checkout.Cart.Tests/obj/Debug/netcoreapp1.1/Checkout.Cart.Tests.AssemblyInfo.cs
Checkout.Cart.Tests/obj/Debug/netcoreapp1.1/Checkout.Cart.Tests.csproj.FileListAbsolute.txt
Checkout.Cart.Tests/obj/Debug/netcoreapp1.1/Checkout.Cart.Tests.csprojResolveAssemblyReference.cache
Checkout.Cart.Tests/obj/Debug/netcoreapp1.1/Checkout.Cart.Tests.dll
Checkout.Cart.Tests/obj/Debug/netcoreapp1.1/Checkout.Cart.Tests.pdb
Checkout.Cart.Tests/obj/Debug/netcoreapp1.1/Checkout.Cart.Tests.Program.cs
Checkout.Cart.Tests/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
Checkout.Cart.Tests/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Checkout.Cart.Tests/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Checkout.Cart.Tests/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Checkout.Cart.Tests/obj/project.assets.json
